* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  color: black;
}
body,
html {
  width: 100%;
  height: 100%;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.w {
  width: 1200px;
  margin: 0 auto;
}
header {
  height: 150px;
  box-shadow: 0 1px 7px black;
}
.left {
  float: left;
  margin-top: 20px;
}
.left img {
  width: 188px;
}
.right {
  float: right;
  margin-top: 38px;
  margin-right: 115px;
}
.right input {
  outline: none;
  border: 1px solid #ccc;
  width: 400px;
  height: 40px;
  padding: 0 15px;
  border-radius: 5px;
}
.right input::-webkit-input-placeholder {
  color: #ccc;
  font-size: 14px;
}
.right button {
  width: 89px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #ccc;
  position: relative;
  left: -6px;
  top: 2px;
}
.bottom ul {
  position: relative;
  top: 110px;
  left: -150px;
}
.bottom li {
  float: left;
  width: 64px;
  height: 25px;
  text-align: center;
  font-size: 16px;
  font-weight: 700;
  margin-right: 25px;
}
.bottom li:hover {
  border-bottom: 2px solid slateblue;
}
.bottom li a:hover {
  color: slateblue;
}
.active {
  border-bottom: 2px solid slateblue;
}
.acolor {
  color: slateblue;
}
.bar li {
  float: left;
  width: 112px;
  height: 29px;
  padding: 0 40px;
  margin: 10px 29px 0;
  line-height: 29px;
  display: flex;
  justify-content: space-between;
}
.bar li:hover{
  background-color: #800080;
  border-radius: 15px;
}