<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/home.css" />
<link rel="stylesheet" href="../css/font_jrck4v87eg/iconfont.css" />
<body>
  <div class="navbar w">
    <div class="bar">
      <ul>
        <li><a href="#">咖啡</a></li>
        <li><a href="#">饮食</a></li>
        <li><a href="#">正餐</a></li>
        <li><a href="#">男装</a></li>
        <li><a href="#">女装</a></li>
        <li><a href="#">眼镜</a></li>
        <li><a href="#">鞋靴</a></li>
      </ul>
    </div>
  </div>

  <div class="banner w">
    <a href="javasrcipt:;" class="arrow-l">
      <i class="iconfont icon-xiangzuo"></i>
    </a>
    <a href="javasrcipt:;" class="arrow-r">
      <i class="iconfont icon-you"></i>
    </a>
    <ul class="lb">
      <li>
        <a href="#"><img src="../assetes/images/a.jpg" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="../assetes/images/b.jpg" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="../assetes/images/c.jpg" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="../assetes/images/d.jpg" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="../assetes/images/e.jpg" alt="" /></a>
      </li>
      <li>
        <a href="#"><img src="../assetes/images/a.jpg" alt="" /></a>
      </li>
    </ul>
  </div>

  <div class="shopmore w"></div>
</body>
<script src="../js/animate.js"></script>
<script src="../js/home.js"></script>
<script src="../js/jquery-3.4.0.js"></script>

