<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/home.css" />
<div class="navbar w">
  <div class="bar">
    <ul>
      <li><a href="#">咖啡</a></li>
      <li><a href="#">饮食</a></li>
      <li><a href="#">正餐</a></li>
      <li><a href="#">男装</a></li>
      <li><a href="#">女装</a></li>
      <li><a href="#">眼镜</a></li>
      <li><a href="#">鞋靴</a></li>
    </ul>
  </div>
</div>

<div class="banner w">
  <a href="javasrcipt:;" class="arrow-l"><</a>
  <a href="javasrcipt:;" class="arrow-r">></a>
  <ul>
    <li>
      <a href="#"><img src="../assetes/images/a.jpg" alt="" /></a>
    </li>
    <li>
      <a href="#"><img src="../assetes/images/b.jpg" alt="" /></a>
    </li>
    <li>
      <a href="#"><img src="../assetes/images/c.jpg" alt="" /></a>
    </li>
    <li>
      <a href="#"><img src="../assetes/images/d.jpg" alt="" /></a>
    </li>
    <li>
      <a href="#"><img src="../assetes/images/e.jpg" alt="" /></a>
    </li>
    <li>
      <a href="#"><img src="../assetes/images/a.jpg" alt="" /></a>
    </li>
  </ul>
</div>

<div class="shoplist w">
  <div class="shop">
    <div class="pic">
      <img src="../assetes//images/coffee.jpg" alt="" />
      <h3>手冲咖啡6杯装(定制款)</h3>
    </div>
    <div class="info">
      <span class="fl">￥59</span>
      <span class="fr">爆品</span>
    </div>
  </div>
</div>
