<link rel="stylesheet" href="../css/common.css" />
<link rel="stylesheet" href="../css/resgiter.css" />
<link rel="stylesheet" href="../css/font_jrck4v87eg/iconfont.css">
<div class="w">
  <div class="resgiter">
    <form action="">
      <i class="iconfont icon-yonghuming user"></i>
      <input type="text" placeholder="用户名" />
      <span>只能包含数字、字母、下划线、汉字6-12位</span>
      <i class="iconfont icon-App_yuechi pwd"></i>
      <input type="password" placeholder="密码" />
      <span>密码格式错误</span>
      <button>登录</button>
    </form>
  </div>
</div>