<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css/shopcar.css" />
    <script src="../js/jquery-3.4.0.js"></script>
  </head>
  <body>
    <div class="w">
      <div class="bar">
        <ul>
          <li><a href="#">咖啡</a></li>
          <li><a href="#">饮食</a></li>
          <li><a href="#">正餐</a></li>
          <li><a href="#">男装</a></li>
          <li><a href="#">女装</a></li>
          <li><a href="#">眼镜</a></li>
          <li><a href="#">鞋靴</a></li>
        </ul>
      </div>
    </div>
    <div class="shopmore w">
      </div>
  </body>
</html>

<script src="../js/shopcar.js"></script>

